@model IList<CategoryModel>

@*<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel();
    });
</script>*@
<section>



    <aside class="homebanner">
        <div id="sync1" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 9480px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-1580px, 0px, 0px);">
                    <div class="owl-item" style="width: 790px;">
                        <div class="item">
                            <a href="https://www.thegioididong.com/dtdd/samsung-galaxy-a8-2018" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=19685&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img src="//cdn.tgdd.vn/qcao/22_02_2018_09_37_10_A8-HotSale-800-300.png" alt="2018 - T2 - Galaxy A8 - Hot Sale"></a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 790px;">
                        <div class="item">
                            <a href="https://www.thegioididong.com/dtdd/samsung-galaxy-j7-prime-xanh-duong" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=19712&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img class="lazyOwl" alt="2018 - T2 - J7 Prime - Hot Sale" src="//cdn2.tgdd.vn/qcao/23_02_2018_16_55_29_galaxy-j7-prime-800-300.png" style="display: inline;"></a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 790px;">
                        <div class="item">
                            <a href="https://www.thegioididong.com/apple" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=19444&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img class="lazyOwl" alt="2018 - T2 - Sau Tet - Apple" src="//cdn4.tgdd.vn/qcao/12_02_2018_14_05_52_Apple-Big-800-300.png" style="display: inline;"></a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 790px;">
                        <div class="item">
                            <a href="https://www.thegioididong.com/dtdd-oppo" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=19472&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img class="lazyOwl" alt="2018 - T2 - OPPO F5 Big" style="display: inline;" src="//cdn2.tgdd.vn/qcao/12_02_2018_14_53_58_Loc-Oppo-800-300.png"></a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 790px;">
                        <div class="item">
                            <a href="https://www.thegioididong.com/phu-kien-gia-soc" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=19295&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img class="lazyOwl" alt="2018 - T2 - PK Chung" style="display: inline;" src="//cdn.tgdd.vn/qcao/05_02_2018_16_21_50_Le-hoi-phu-kien-800-300.png"></a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 790px;">
                        <div class="item">
                            <a href="https://www.thegioididong.com/dtdd-sony" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=19552&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img class="lazyOwl" alt="2018 - T2 - Sau Tet - Sony" style="display: inline;" src="//cdn2.tgdd.vn/qcao/13_02_2018_11_31_58_Sony-khai-xuan-800-300.png"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev">‹</div><div class="owl-next">›</div></div></div>
        </div>
        <div id="sync2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 1896px; left: 0px; display: block; transition: all 200ms ease; transform: translate3d(0px, 0px, 0px);">
                    <div class="owl-item" style="width: 158px;">
                        <div class="item">
                            <h3>Galaxy A8 Giảm 1 Triệu<br>Trả Góp 0%</h3>
                            <i class="arrowbar"></i>
                        </div>
                    </div><div class="owl-item" style="width: 158px;">
                        <div class="item">
                            <i class="arrowbarleft"></i>
                            <h3>J7 Prime Xanh Dương<br>Giảm Ngay 500 Ngàn</h3>
                            <i class="arrowbar"></i>
                        </div>
                    </div><div class="owl-item synced" style="width: 158px;">
                        <div class="item">
                            <i class="arrowbarleft"></i>
                            <h3>Rước Lộc iPhone<br>Tặng Voucher Đến 1 Triệu</h3>
                            <i class="arrowbar"></i>
                        </div>
                    </div><div class="owl-item" style="width: 158px;">
                        <div class="item">
                            <i class="arrowbarleft"></i>
                            <h3>Lộc OPPO F5 Series<br>Lì Xì Đến 300 Ngàn</h3>
                            <i class="arrowbar"></i>
                        </div>
                    </div><div class="owl-item" style="width: 158px;">
                        <div class="item">
                            <i class="arrowbarleft"></i>
                            <h3>Lễ Hội Phụ Kiện<br>Giảm Đến 40%</h3>
                            <i class="arrowbar"></i>
                        </div>
                    </div><div class="owl-item" style="width: 158px;">
                        <div class="item">
                            <i class="arrowbarleft"></i>
                            <h3>Khai Xuân Xperia<br>Trả Góp 0%</h3>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </aside>




    <aside class="homenews">
        <figure>
            <h2><a href="/tin-tuc">Tin công nghệ</a></h2>
            <b></b>
            <a href="/tin-tuc/su-kien/truc-tiep-ra-mat-sieu-pham-galaxy-s9-s9-125" class="liveevent" target="_blank"><span id="dot"><span class="ping"></span></span><span class="text">Trực tiếp Galaxy S9 trình làng</span></a>
        </figure>
        <ul>
            <li>
                <a href="/tin-tuc/man-hinh-cua-iphone-x-plus-lan-dau-xuat-hien-thuc-te-1069628">
                    <img width="100" height="70" src="https://cdn3.tgdd.vn/Files/2018/02/25/1069628/fa2_960x540-100x100.jpg">
                    <h3>
                        Màn hình của iPhone X Plus lần đầu xuất hiện thực tế
                    </h3>
                    <span>2 giờ trước</span>
                </a>
            </li>
        </ul>
        <div class="twobanner">
            <a href="https://www.thegioididong.com/samsung" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=19454&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img src="//cdn4.tgdd.vn/qcao/12_02_2018_14_21_05_Big-Samsung-T2-398-110.png" alt="2018 - T2 - Sau Tet - Samsung"></a>
            <a href="https://www.thegioididong.com/dtdd-sony" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=19555&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img src="//cdn.tgdd.vn/qcao/13_02_2018_11_33_58_Sony-khai-xuan-398-110.png" alt="2018 - T2 - Sau Tet - Sony"></a>
        </div>

    </aside>

    <div class="clr"></div>



    <div class="navigat">
        <h2>Điện thoại nổi bật nhất</h2>
        <div class="viewallcat">

            <a href="https://www.thegioididong.com/dtdd-apple-iphone">Apple iPhone</a>
            <a href="https://www.thegioididong.com/dtdd-samsung">Samsung</a>
            <a href="http://thegioididong.com/dtdd?f=man-hinh-tran-vien">Màn hình tràn viền</a>
            <a href="https://www.thegioididong.com/dtdd?p=tu-2-7-trieu">Giá từ 2-7 triệu</a>
            <a href="https://www.thegioididong.com/dtdd?s=tra-gop-0-phan-tram">Trả góp 0%</a>
            <a href="/dtdd" class="mobile">Xem tất cả <b>162</b> điện thoại</a>
        </div>
    </div>


    <ul class="homeproduct ">
        <li class="feature">

            <a href="/dtdd/samsung-galaxy-j7-pro">
                <img width="600" height="275" data-original="https://cdn4.tgdd.vn/Products/Images/42/103404/Feature/samsung-galaxy-j7-pro-2018-d-2.jpg" class="lazy lazydone" src="https://cdn4.tgdd.vn/Products/Images/42/103404/Feature/samsung-galaxy-j7-pro-2018-d-2.jpg" style="display: block; opacity: 1;">
                <h3>Samsung Galaxy J7 Pro</h3>
                <div class="price"><strong>6.990.000₫</strong></div>
                <label class="installment">Trả góp 0%</label>
            </a>

        </li>
        <li>
            <!--#region Ngành hàng chính -->
            <a href="/dtdd/oppo-f5">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/42/131915/oppo-f5-tet-400x400.jpg" class="lazy lazydone" src="https://cdn.tgdd.vn/Products/Images/42/131915/oppo-f5-tet-400x400.jpg" style="display: block; opacity: 1;">
                <h3>Oppo F5</h3>
                <div class="price"><strong>6.990.000₫</strong></div>
                <div class="promo">
                    <img width="30" height="30" data-original="https://cdn1.tgdd.vn/Products/Images/2102/74256/thung-nuoc-ngot-coca-cola-24-lon-km-4-100x100.jpg" class="lazy lazydone" src="https://cdn1.tgdd.vn/Products/Images/2102/74256/thung-nuoc-ngot-coca-cola-24-lon-km-4-100x100.jpg" style="display: block; opacity: 1;">
                    <p>Tặng Thùng Cocacola (24 lon) - KM</p>
                </div>

                <label class="installment">Trả góp 0%</label>
            </a>
            <!--#endregion -->

        </li>
        <li>
            <!--#region Ngành hàng chính -->
            <a href="/dtdd/iphone-x-64gb">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-tet-400x400.jpg" class="lazy lazydone" src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-tet-400x400.jpg" style="display: block; opacity: 1;">
                <h3>iPhone X 64GB</h3>
                <div class="price"><strong>29.990.000₫</strong></div>
                <div class="promo noimage">
                    <p> Giảm 500.000đ khi thanh toán trực tuyến bằng thẻ Visa và <b>1 K.mãi</b> khác</p>
                </div>

                <label class="installment">Trả góp 0%</label>
            </a>
            <!--#endregion -->

        </li>
        <li>
            <!--#region Ngành hàng chính -->
            <a href="/dtdd/huawei-nova-2i">
                <img width="180" height="180" data-original="https://cdn3.tgdd.vn/Products/Images/42/118143/huawei-nova-2i-tet-1-400x400.jpg" class="lazy lazydone" src="https://cdn3.tgdd.vn/Products/Images/42/118143/huawei-nova-2i-tet-1-400x400.jpg" style="display: block; opacity: 1;">
                <h3>Huawei Nova 2i</h3>
                <div class="price"><strong>5.990.000₫</strong></div>
                <div class="promo">
                    <img width="30" height="30" data-original="https://cdn1.tgdd.vn/Products/Images/2102/145696/bo-qua-huawei-binh-giu-nhiet-moc-khoa-gay-selfi-h1-100x100.jpg" class="lazy lazydone" src="https://cdn1.tgdd.vn/Products/Images/2102/145696/bo-qua-huawei-binh-giu-nhiet-moc-khoa-gay-selfi-h1-100x100.jpg" style="display: block; opacity: 1;">
                    <p>Tặng Bình giữ nhiệt, gậy selfie, móc khóa và <b>1 K.mãi</b> khác</p>
                </div>

                <label class="installment">Trả góp 0%</label>
            </a>
            <!--#endregion -->

        </li>
        <li class="feature">

            <a href="/dtdd/nokia-8">
                <img width="600" height="275" data-original="https://cdn4.tgdd.vn/Products/Images/42/91059/Feature/nokia-8-d-2.jpg" class="lazy lazydone" src="https://cdn4.tgdd.vn/Products/Images/42/91059/Feature/nokia-8-d-2.jpg" style="display: block; opacity: 1;">
                <h3>Nokia 8</h3>
                <div class="price"><strong>12.990.000₫</strong></div>
                <label class="installment">Trả góp 0%</label>
            </a>

        </li>
        <li>
            <!--#region Ngành hàng chính -->
            <a href="/dtdd/sony-xperia-xa1-plus-vang">
                <img width="180" height="180" data-original="https://cdn4.tgdd.vn/Products/Images/42/151859/sony-xperia-xa1-plus-vang-tet-400x400.jpg" class="lazy lazydone" src="https://cdn4.tgdd.vn/Products/Images/42/151859/sony-xperia-xa1-plus-vang-tet-400x400.jpg" style="display: block; opacity: 1;">
                <h3>Sony Xperia XA1 Plus (Vàng)</h3>
                <div class="price"><strong>6.490.000₫</strong></div>
                <div class="promo noimage">
                    <p> Giảm ngay 400.000đ khi trả góp 0% Online bằng thẻ tín dụng(từ 8 - 28/2) và <b>1 K.mãi</b> khác</p>
                </div>

                <label class="installment">Trả góp 0%</label>
            </a>
            <!--#endregion -->

        </li>
        <li>
            <!--#region Ngành hàng chính -->
            <a href="/dtdd/samsung-galaxy-j2-pro-2018">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/42/145575/samsung-galaxy-j2-pro-2018-tet-400x400.jpg" class="lazy lazydone" src="https://cdn.tgdd.vn/Products/Images/42/145575/samsung-galaxy-j2-pro-2018-tet-400x400.jpg" style="display: block; opacity: 1;">
                <h3>Galaxy J2 Pro 2018</h3>
                <div class="price"><strong>3.290.000₫</strong></div>
                <div class="promo">
                    <img width="30" height="30" data-original="https://cdn4.tgdd.vn/Products/Images/2102/118294/phieu-mua-hang-100000d-100x100.jpg" class="lazy lazydone" src="https://cdn4.tgdd.vn/Products/Images/2102/118294/phieu-mua-hang-100000d-100x100.jpg" style="display: block; opacity: 1;">
                    <p>Tặng Phiếu mua hàng 100,000đ</p>
                </div>


            </a>
            <!--#endregion -->

        </li>
        <li>
            <!--#region Ngành hàng chính -->
            <a href="/dtdd/samsung-galaxy-j7-plus">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/42/112970/samsung-galaxy-j7-plus-hh-h5-400x400.jpg" class="lazy lazydone" src="https://cdn.tgdd.vn/Products/Images/42/112970/samsung-galaxy-j7-plus-hh-h5-400x400.jpg" style="display: block; opacity: 1;">
                <h3>Galaxy J7+</h3>
                <div class="price"><strong>8.690.000₫</strong></div>
                <div class="promo noimage">
                    <p> Phiếu mua hàng 150.000đ (không áp dụng chung giảm giá quà tặng galaxy)</p>
                </div>

                <label class="installment">Trả góp 0%</label>
            </a>
            <!--#endregion -->

        </li>
    </ul>



    <div class="navigat">
        <h2>Phụ kiện giá rẻ</h2>
        <div class="viewallcat">

            <a href="https://www.thegioididong.com/sac-dtdd">Pin sạc dự phòng</a>
            <a href="https://www.thegioididong.com/cap-dien-thoai">Cáp sạc</a>
            <a href="https://www.thegioididong.com/the-nho-dien-thoai">Thẻ nhớ</a>
            <a href="https://www.thegioididong.com/tai-nghe">Tai nghe</a>
            <a href="https://www.thegioididong.com/loa-laptop">Loa</a>
            <a href="https://www.thegioididong.com/phu-kien/chinh-hang">Phụ kiện chính hãng</a>
            <a href="https://www.thegioididong.com/gay-tu-suong">Gậy tự sướng</a>
            <a href="/phu-kien" class="accessory">Xem tất cả <b>2.937</b> phụ kiện</a>
        </div>
    </div>

    <ul class="homeproduct phukien">
        <li>
            <!--#region Phụ kiện -->
            <a href="/sac-dtdd/pin-sac-du-phong-10000mah-esaver-safari-5">
                <img width="180" height="180" data-original="https://cdn1.tgdd.vn/Products/Images/57/79356/pin-sac-du-phong-10000mah-esaver-safari-5-1-200x200.jpg" class="lazy lazydone" src="https://cdn1.tgdd.vn/Products/Images/57/79356/pin-sac-du-phong-10000mah-esaver-safari-5-1-200x200.jpg" style="display: block; opacity: 1;">
                <h3>SDP 10.000 mAh eSaver Safari 5</h3>
                <div class="price">
                    <strong>210.000₫</strong>
                    <span>300.000₫</span>
                </div>
                <label class="per">Giảm 30%</label>
            </a>
            <!--#endregion -->

        </li>
        <li>
            <!--#region Phụ kiện -->
            <a href="/loa-laptop/loa-bluetooth-fenda-w5">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/382/77610/loa-bluetooth-fenda-w5-avatar-200x200.jpg" class="lazy lazydone" src="https://cdn.tgdd.vn/Products/Images/382/77610/loa-bluetooth-fenda-w5-avatar-200x200.jpg" style="display: block; opacity: 1;">
                <h3>Loa Bluetooth Fenda W5</h3>
                <div class="price">
                    <strong>400.000₫</strong>
                </div>
                <div class="promo noimage">
                    <p><b>1</b> khuyến mãi</p>
                </div>
            </a>
            <!--#endregion -->

        </li>
        <li>
            <!--#region Phụ kiện -->
            <a href="/cap-dien-thoai/cap-micro-1m-esaver-ds118br-tb">
                <img width="180" height="180" data-original="https://cdn2.tgdd.vn/Products/Images/58/86507/cap-micro-1m-esaver-ds118br-tb-avatar-200x200.png" class="lazy lazydone" src="https://cdn2.tgdd.vn/Products/Images/58/86507/cap-micro-1m-esaver-ds118br-tb-avatar-200x200.png" style="display: block; opacity: 1;">
                <h3>Cáp Micro USB 1 m eSaver DS118-TB</h3>
                <div class="price">
                    <strong>60.000₫</strong>
                    <span>100.000₫</span>
                </div>
                <label class="per">Giảm 40%</label>
            </a>
            <!--#endregion -->

        </li>
        <li>
            <!--#region Phụ kiện -->
            <a href="/the-nho-dien-thoai/the-nho-microsd-16gb-class-10">
                <img width="180" height="180" data-original="https://cdn3.tgdd.vn/Products/Images/55/69973/the-nho-microsd-16gb-class-10-7-200x200.jpg" class="lazy lazydone" src="https://cdn3.tgdd.vn/Products/Images/55/69973/the-nho-microsd-16gb-class-10-7-200x200.jpg" style="display: block; opacity: 1;">
                <h3>Micro SD 16 GB class 10</h3>
                <div class="price">
                    <strong>195.000₫</strong>
                    <span>280.000₫</span>
                </div>
                <label class="per">Giảm 30%</label>
            </a>
            <!--#endregion -->

        </li>
        <li>
            <!--#region Phụ kiện -->
            <a href="/tai-nghe/tai-nghe-nhet-trong-kanen-ip-218-hong">
                <img width="180" height="180" data-original="https://cdn4.tgdd.vn/Products/Images/54/92414/tai-nghe-nhet-trong-kanen-ip-218-hong-11-200x200.jpg" class="lazy lazydone" src="https://cdn4.tgdd.vn/Products/Images/54/92414/tai-nghe-nhet-trong-kanen-ip-218-hong-11-200x200.jpg" style="display: block; opacity: 1;">
                <h3>Tai nghe Kanen IP-218</h3>
                <div class="price">
                    <strong>105.000₫</strong>
                    <span>150.000₫</span>
                </div>
                <label class="per">Giảm 30%</label>
            </a>
            <!--#endregion -->

        </li>
    </ul>



</section>


@using Nop.Web.Models.Catalog;
@*@if (Model.Count > 0)
    {
        <div class="category-grid home-page-category-grid">
            <div class="item-grid">
                @foreach (var item in Model)
                {
                    <div class="item-box">
                        <div class="category-item hover-effect-2">
                            <h2 class="title">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <span>@item.Name</span>
                                </a>
                            </h2>
                            <div class="picture">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }*@